[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jubilee"]
	path = jubilee
	url = https://github.com/cran/jubilee
[submodule "ldhmm"]
	path = ldhmm
	url = https://github.com/cran/ldhmm
